* {
  border: none;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-height: 25px;
  color: #FFFFFF;
}

window#waybar {
  background: transparent;
  margin: 5px;
}

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #000000;
  color: #FFFFFF;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #000000;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #000000;
  font-size: 18px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}


#pulseaudio-slider {
  background-image: linear-gradient(45deg, @foreground 0%, @foreground 52%, @foreground 90%);

}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough,
#backlight-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: white;
}


#clock {
  color: #5fd1fa;
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#language {
  color: white;
  min-width: 16px;
  padding-left: 8px;
  border-radius: 20px 0px 0px 20px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  min-width: 16px;
}
